.nav-center {
    width: 100%;
    margin: auto;
}

nav {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Toggle button styling */
.toggle-icon .fas {
    font-size: 2rem;
    padding: 10px;
    color: #acabab;
    cursor: pointer;
    transition: .3s linear;
}

.toggle-icon .fas:hover {
    transform: scale(0.8) rotate(-45deg);
    transition: all .3s linear;
}

.toggle-icon .times {
    display: none;
}

/* Links container styling */
.links-container {
    height: 0;
    overflow: hidden;
    transition: all .8s linear;
}

ul.nav-links {
    list-style: none;
}

ul.nav-links li {
    padding: 1rem 0;
    text-align: center;
}

ul.nav-links li a {
    text-decoration: none;
    color: #d3d3d3;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

ul.nav-links li a:hover {
    color: var(--logo-color);
}

/* Section 1 styling */
.section-1 {
    position: relative;
    text-align: center;
}

/* Health check text styling */
.health-check-text {
    position: absolute;
    top: 20%; /* Adjust this value to position above the image */
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Roboto', sans-serif;
    font-size: 2rem; /* Adjust the size as needed */
    color: #ffa500;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); /* Optional background for readability */
    padding: 10px;
    border-radius: 5px;
    z-index: 2;
}

/* Hero image styling */
.hero-img {
    position: relative;
    z-index: 1;
}
